// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  //primary:    #488aff,
        primary:    #f53d3d,
        secondary:  #32db64,
        success:    #32db64,
        warning:    #FF9800,
        info:       #488aff,
        danger:     #f53d3d,
        light:      #f4f4f4,
        dark:       #252525,
        gray:       #ccc,
        dark-gray:  #888,
        light-gray: #eaeaea
);


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: map-get($colors,dark);
$background-color:  #fff;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here